body {
  background-color: white;
  color: black;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.nav {
  background-color: #d3b08d;
  height: 55px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.globe {
  width: 24px;
  height: 24px;
}

.travel-journal {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 17.5px;
  letter-spacing: -0.075em;
}